<section id="adalabers" class="adalabers"> 
  <!-- section-adalabers -->
          <h2 class="centralcolumn adalabers__title">QUIÉNES SOMOS</h2>

<!--           <article class="centralcolumn adalabers__card--Cristina"> -->
          <div class="centralcolumn adalabers__card adalabers__card--Cristina">
            <!-- adal-Cristina -->
            <img
              class="adalabers__photo"
              src="./assets/images/Cristina.jpg"
              alt="Cristina González"
            />
            <div class="adalabers__info adalabers__info--Cristina">
              <!-- adalabers-info info-Cristina -->
            <h3 class="adalabers__name">Cristina González</h3>
            <p class="adalabers__paragraph">
              <!-- paragraph parf-adalaber -->
              Cristina es la veloz del grupo, precisa, construye unos buenos
              cimientos a cada proyecto. ¿Tendrá algo que ver su experiencia como
              ingeniera?
            </p>
            <nav>
              <ul class="adalabers__links adalabers__links--Cristina">
                <!-- links-contact -->
                <li>
                  <!-- github -->
                  <a href="https://github.com/crisgruiz" target="_blank"><i class="fa fa-github-alt"></i></a> 
                </li>
                <li>&nbsp;·&nbsp;<a
                  href="https://www.linkedin.com/in/cristina-glez-ruiz/"
                  target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>
                </a></li>
              </ul>
            </nav>
          </div>
<!--         </article> -->
          </div>


          <div class="centralcolumn adalabers__card adalabers__card--Maria">
            <img class="adalabers__photo" 
            src="./assets/images/maria web.jpeg" 
            alt="María Vilumbrales"
            />
            <div class="adalabers__info adalabers__info--Maria">
            <h3 class="adalabers__name">María Virumbrales</h3>
            <p class="adalabers__paragraph">
              María es nuestro foco, ilumina las ideas y las presenta sobre el
              escenario. Siempre recurrimos a ella cuando divagamos en nuestros
              brainstormings. Quizás sea por su bagaje entre bambalinas.
            </p>
            <nav>
              <ul class="adalabers__links adalabers__links--Maria">
                <li>
                  <a href="https://github.com/mariavirum" target="_blank"><i class="fa fa-github-alt"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>


          <div class="centralcolumn adalabers__card adalabers__card--Amanda">
            <img
              class="adalabers__photo"
              src="./assets/images/amanda_garcia_web.jpg"
              alt="Amanda García"
            />
            <div class="adalabers__info adalabers__info--Amanda">
            <h3 class="adalabers__name">Amanda García</h3>
            <p class="adalabers__paragraph">
              Amanda es pura energía y creatividad. Aporta un punto de vista
              divertido e innovador al equipo. Encuentra varias soluciones a cada
              reto. Investiga su formación.
            </p>
            <nav>
              <ul class="adalabers__links adalabers__links--Amanda">
                <li>
                  <a href="https://github.com/AmandaKhol" target="_blank""><i class="fa fa-github-alt"></i></a>
                </li>
                <li>&nbsp;·&nbsp;<a
                    href="https://es.linkedin.com/in/amanda-garc%C3%ADa-garc%C3%ADa-phd-a48b3174"
                    target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a
                  >
                </li>
              </ul>
            </nav>
            </div>
          </div>


          <div class="centralcolumn adalabers__card adalabers__card--Sara">
            <img class="adalabers__photo" src="./assets/images/foto-sara.jpg" alt="Sara Martínez" />
            <div class="adalabers__info adalabers__info--Sara">
              <h3 class="adalabers__name">Sara Martínez</h3>
              <p class="adalabers__paragraph">
                Sara es nuestra coach, lo esencial no es invisible a sus ojos. Es
                práctica y resolutiva, pues tiene siempre presente lo más importante.
                Sus pasos facilitan el camino a seguir.
              </p>
              <nav>
                <ul class="adalabers__links adalabers__links--Sara">
                  <li>
                    <a href="https://github.com/saramartara"  target="_blank"><i class="fa fa-github-alt "></i></a>
                  </li>
                  <li>&nbsp;·&nbsp;<a
                    href="https://es.linkedin.com/in/saramartara"
                    target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a
                  >
                </li>
                </ul>
              </nav>
            </div>
          </div>
        </section>