<article class="centralcolumn adalabers__card--Cristina">
  <!--           <div class="centralcolumn adalabers__card--Cristina"> -->
  <!-- adal-Cristina -->
  <img
    class="photo--Cristina"
    src="./assets/images/Cristina.jpg"
    alt="Cristina González"
  />
  <div class="adalabers__info--Cristina">
    <!-- adalabers-info info-Cristina -->
    <h3 class="whoweare-name">Cristina González</h3>
    <p class="adalabers__paragraph">
      <!-- paragraph parf-adalaber -->
      Cristina es la veloz del grupo, precisa, construye unos buenos cimientos a
      cada proyecto. ¿Tendrá algo que ver su experiencia como ingeniera?
    </p>
    <nav>
      <ul class="adalabers__links">
        <!-- links-contact -->
        <li class="adalabers__links--github">
          <!-- github -->
          <a href="https://github.com/crisgruiz" target="_blank"
            ><i class="fa fa-github-alt"></i
          ></a>
        </li>
        <li>
          &nbsp;·&nbsp;<a
            href="https://www.linkedin.com/in/cristina-glez-ruiz/"
            target="_blank"
            ><i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</article>
