<footer class="footer">
  <div class="centralcolumn footer-container">
    <div class="footer-copyright">
      <p>Nómadas Digitales © 2020</p>
    </div>
    <nav class="footer-navigation-menu">
      <ul class="footer-list">
        <li class="footer-element-1">
          <a class="footer-element" href="#team">EQUIPO</a>
        </li>
        <li class="footer-element-2">
          <a class="footer-element" href="#aboutus">QUIÉNES SOMOS</a>
        </li>
        <li class="footer-element-3">
          <a class="footer-element" href="">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <a
      class="logo-container"
      title="Adalab-web"
      href="https://adalab.es"
      target="_blank"
      ><img
        class="footer-logo"
        src="./assets/images/logo-adalab.png"
        alt="adalab logo"
      />
    </a>
  </div>
</footer>
