<footer class="footer">
  <div class="centralcolumn footer-container-grid">
    <div class="footer-container-grid_box footer-copyright__container-grid">
      <p class="copyright">Nómadas Digitales © 2020</p>
    </div>
    <div class="footer-container-grid_box footer-menu__container-grid">
      <nav class="footer-menu">
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="@@teamSrc">Equipo</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="@@whoweareSrc">Quiénes somos</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="@@contactSrc" target="@@targetOption">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-container-grid_box footer-logo__container-grid">
      <a class="footer-logo__container" title="Adalab-web" href="https://adalab.es" target="_blank"><img
          class="footer-logo__image" src="./assets/images/logo-adalab-cortado.png" alt="adalab logo" />
      </a>
    </div>
  </div>
</footer>