<footer class="footer">
  <div class="centralcolumn footer__container">
    <div class="footer__copyright">
      <p>Nómadas Digitales © 2020</p>
    </div>
    <nav class="footer__menu">
      <ul class="footer__list">
        <li class="footer__menu--item1">
          <a class="footer__menu--link" href="#team">EQUIPO</a>
        </li>
        <li class="footer__menu--item2">
          <a class="footer__menu--link" href="#aboutus">QUIÉNES SOMOS</a>
        </li>
        <li class="footer__menu--item3">
          <a class="footer__menu--link" href="">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <a
      class="footer__logo--container"
      title="Adalab-web"
      href="https://adalab.es"
      target="_blank"
      ><img
        class="footer__logo--image"
        src="./assets/images/logo-adalab.png"
        alt="adalab logo"
      />
    </a>
  </div>
</footer>
