<section class="section_form">
  <form
    class="centralcolumn form"
    action="https://formspree.io/f/xbjpqyoa"
    method="POST"
  >
    <div class="containers form__name">
      <label for="name_form"
        >Nombre completo <span class="asterisk">*</span></label
      >
      <input
        class="form__input"
        id="name"
        type="text"
        name="name"
        placeholder="Nombre..."
        required
      />
    </div>
    <div class="containers-emailtelephone">
      <div class="containers form__email">
        <label for="emai_form">Email <span class="asterisk">*</span></label>
        <input
          class="form__input form__input--email"
          id="email"
          type="email"
          name="email"
          placeholder="nombre.apellidos@email.com"
          required
        />
      </div>
      <div class="containers form__telephone">
        <label for="telephone">Teléfono</label>
        <input
          class="form__input"
          id="telephone"
          type="tel"
          name="tel"
          placeholder="Ej: 123456789"
          pattern="[0-9]{9}"
        />
      </div>
    </div>
    <div class="containers form__message">
      <label for="message">Mensaje <span class="asterisk">*</span></label>
      <textarea
        class="message_area"
        id="message"
        name="message"
        placeholder="¿Qué necesitas?"
        rows="6"
        required
      ></textarea>
    </div>
    <div class="container-button">
      <input class="button" type="submit" value="Enviar" />
    </div>
  </form>
</section>
