<div class="centralcolumn">
  <form class="form" action="https://formspree.io/f/xbjpqyoa" method="POST">
    <div class="containers form__name">
      <label for="name">Nombre completo <spam>*</spam></label>
      <input
        class="form__input"
        id="name"
        type="text"
        name="name"
        placeholder="Nombre..."
        required
      />
    </div>
    <div class="containers form__email">
      <label for="email">Email *</label>
      <input
        class="form__input"
        id="email"
        type="email"
        name="email"
        placeholder="nombre.apellidos@email.com"
        required
      />
    </div>
    <div class="containers form__telephone">
      <label for="telephone">Teléfono</label>
      <input
        class="form__input"
        id="telephone"
        type="tel"
        name="tel"
        placeholder="Ej: 123456789"
      />
    </div>
    <div class="containers form__message">
      <label for="message">Mensaje *</label>
      <textarea
        id="message"
        name="message"
        placeholder="¿Qué necesitas?"
        rows="8"
        cols="80"
        required
      ></textarea>
    </div>
    <div class="containers form__submit">
      <input type="submit" value="Enviar" />
    </div>
  </form>
</div>
