<form action="https://formspree.io/f/xbjpqyoa" method="POST">


<label for="name">Nombre completo <spam>*</spam></label>
<input id="name" type="text" name="name" placeholder="Nombre..." required/>
<label for="email">Email *</label>
<input id="email" type="email" name="email" placeholder="nombre.apellidos@email.com" required/>
<label for="telephone">Teléfono</label>
<input id="telephone" type="tel" name="tel" placeholder="Ej: 123456789"/>
<label for="message">Mensaje *</label>
<textarea id="message" name="message" placeholder="¿Qué necesitas?" rows="8" cols="80" required></textarea>

<input type="submit" value="Enviar" />






</form>