<section class="contact centralcolumn">
  <h3 class="contact__title">Contacto</h3>
  <p class="contact__paragraph">
    En Nómadas Digitales estamos encantadas de proporcionarte la información que
    necesitas. Si quieres conocernos mejor o hacernos cualquier pregunta,
    rellena el siguiente formulario y nos pondremos en contacto contigo lo antes
    posible. Gracias.
  </p>
  <small class="contact__required"
    >Todos los campos marcados con
    <span class="contact__required--asterisk">*</span> son obligatorios</small
  >
</section>
