<header class="header">
  <div class="headboard">
    <h1 class="headboard__name">NÓMADAS DIGITALES</h1>
    <nav class="headboard__nav nav">
      <ul class="nav__list">
        <li>
          <a class="nav__list--menu nav__list--team" href="#team">EQUIPO</a>
        </li>
        <li>
          <a class="nav__list--menu nav__list--who" href="#aboutus"
            >QUIENES SOMOS</a
          >
        </li>
        <li class="nav__list--menu nav__list--contact">CONTACTO</li>
      </ul>
    </nav>
  </div>
</header>
