<header class="header">
  <div class="headboard">
    <h1 class="name">
      <a class="name__contact" href="index.htm" alt="link to Nomadas Digitales"
        >Nómadas digitales</a
      >
    </h1>
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a class="nav__list--menu nav__list--team" href="@@teamSrc">Equipo</a>
        </li>
        <li>
          <a class="nav__list--menu nav__list--who" href="@@whoweareSrc"
            >Quienes somos</a
          >
        </li>
        <li>
          <a
            class="nav__list--menu nav__list--contact"
            href="@@contactSrc"
            target="@@targetOption"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="hero">
  <img
    class="hero__image"
    src="./assets/images/fondo-cuestionario.jpg"
    alt="fondo"
  />
</section>
<include src="form-text.html"></include>
<include src="form.html"></include>
