<aside class="container-strengths">
    <div class="centralcolumn">
      <div class="strengths">
        <h3 class="strengthstitle">Fortalezas</h2>
        <p class="strengthstext">
          Somos valientes en búsqueda de nuevos retos, con ganas de mejorar y con
          una gran capacidad de transformación. Trabajamos en contacto continuo
          contigo para ir avanazando juntas y de la mano, para obtener siempre el
          mejor resultado. El superpoder del equipo es nuestra diversidad.
        </p>
      </div>
      <div class="weaknesses">
        <h3 class="weaknessestitle">Debilidades</h2>
        <p class="weaknessestext">
            Somos un equipo en crecimiento, aprendiendo día a día nuevas
            herramientas. Estamos en la distancia pero trabajamos para asegurar la
            cercanía.
        </p>
      </div>
    </div>
  </aside>
