// fonts
$title: "Rubik", sans-serif;
$text: "Open Sans", sans-serif;

// colors
$color-nav-title: white;
$color-basic: white;
$color-header-dark: #099d8d;
$color-symbols: #099d8d;
$color-adalabers-title: #099d8d;
$color-strenghts-title: #099d8d;
$color-aboutus-title: #14d9c4;
$color-header-light: #14d9c4;
$color-text: #54585a;
$color-strenghts-background: rgba(184, 184, 185, 0.2);
$color-text-footer: #b8b8b9;
$color-asterisk: #14d9c4;

// margins
$margin-container-mobile: 15px;
$margin-container-tablet: 45px;
$margin-container-desktop: 138px;
