// fonts
$title: "Rubik", sans-serif;
$text: "Open Sans", sans-serif;

// colors
$color-nav-title: white;
$color-slogan: white;
$color-header-dark: #099d8d;
$color-header-light: #14d9c4;
$color-strenghts-text: #54585a;
$color-strenghts: rgba(184, 184, 185, 0.2);
$color-textfooter: #b8b8b9;

// margins
$margin-container-mobile: 15px;
$margin-container-tablet: 45px;
$margin-container-desktop: 138px;
