/* SECTION ADALABERS. STYLES */
.adalabers {
  width: 100%;
  /*   text-align: center; */
  &__card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__photo {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08);
  }
  &__info {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__paragraph {
    width: 100%;
    font-family: $text;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $color-strenghts-text;
  }
  &__links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 124px;
    color: $color-strenghts-text;
  }
}

.who-weare {
  font-family: $title;
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $color-header-dark;
}

/* .adalabers__card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .adalabers__info {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */

/* .card__photo {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
} */

.whoweare-name {
  font-family: $text;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  /*   text-align: center; */
  color: black;
  /*     margin-top: 15px; */
}
/* .adalabers__paragraph {
  width: 100%;
  font-family: var(--text);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--colordarkgrey);
} */

/* .adalabers__links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 124px;
  color: var(--colordarkgrey);
} */

.fa {
  color: $color-header-dark;
  font-size: 16px;
}
