@mixin footer() {
  margin: auto;
  display: flex;
  @content;
}

@mixin footer-alignment() {
  flex-direction: column;
  text-align: center;
  @content;
}

.footer {
  background-color: $color-basic;
  border-top: solid 1px;
  border-color: $color-text-footer;
  margin: 0;
  width: 100%;
}

.footer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;

  .footer-copyright {
    width: auto;
    font-family: $text;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $color-text-footer;
    display: inline;
    text-align: center;
  }
}

.footer-menu {
  @include footer() {
    padding: 30px;
  }
}

.footer-menu__list {
  @include footer() {
    width: 100%;
    opacity: 0.75;
    font-family: $text;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $color-text;
    text-transform: uppercase;
    justify-content: space-around;
  }
  @include footer-alignment() {
  }
}

.footer-menu__link {
  text-decoration: none;
  color: $color-text;
  padding: 5px;
}

.footer-logo__image {
  @include footer() {
    width: 116px;
    height: 45px;
    align-items: center;
    justify-content: space-around;
  }
  &:hover {
    animation-name: pop;
    animation-duration: 1s;
    animation-iteration-count: 2;
    @keyframes pop {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(2);
      }
    }
  }
}

@media all and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 56px;
  }
  .footer-copyright {
    width: 50%;
    height: 50%;
    text-align: start;
  }
  .footer-menu {
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: right;
    /*align-items: flex-end;*/
  }
  .footer-menu__list {
    height: 80px;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
  }
  .footer-logo__image {
    width: 50%;
    margin: 0;
  }
  .footer-logo__container {
    position: absolute;
    transform: translate(0, 80%);
  }
}
@media all and (min-width: 1200px) {
  .footer-container {
    margin-top: 24px;
    margin-bottom: 47px;
  }
}
