
@mixin footer (){
  margin: auto;
  display:flex;
  @content;
}

@mixin footer-alignment(){
  flex-direction: column ;
  text-align: center;
  @content;
}



.footer {
  background-color: $color-nav-title;
  border-top: solid 1px;
  border-color: $color-textfooter ;
  margin: 0;
  width: 100%;
}

.footer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;
  
  .footer-copyright {
  width: auto;
  font-family: $text;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: $color-textfooter;
  display: inline;
  text-align: center;
}
}

.footer-menu {
  @include footer(){
    padding: 30px;
  }
}
  
  .footer-menu__list {
  @include footer(){
    width: 100%;
    opacity: 0.75;
    font-family: "Opensans";
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $color-strenghts-text;
    justify-content: space-around;
    }
  @include footer-alignment(){
    }
  } 
  
  .footer-menu__link {
    text-decoration: none;
    color:$color-strenghts-text;
    padding: 5px;
    }


.footer-logo__image {
  @include footer(){
  width: 116px;
  height: 45px;
  align-items: center;
  justify-content: space-around;
  }
}
