
@mixin normalTitleText() {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
@mixin overviewText() {
  font-family: $text;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: $color-text;
  @include normalTitleText();
  @content;
}


.section_form {
  width: 100%;
}
.form {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   grid-template-rows: repeat(5, 1fr);
  @include overviewText()
  @include tablet(){
    padding: 0 118px;
  } 
  @include desktop(){
    padding: 0 161px;
  }
  &__input {
    @include overviewText() 
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 7px 0 13px 0;
    border: solid 1px $color-text-footer;
    padding: 7px 15px 15px 15px;
  &--email{
    font-size: 16px;
    color: $color-text;
  }

  }
  
}
.containers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.container-emailtelephone{
  @include desktop(){
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
  }
}

.form__email{
  @include desktop(){
    margin-right: 44px;
    width: 40%;
    // flex-grow: 2;
  }
}

.form__telephone{
  @include desktop(){
    width: 20%;
    // flex-grow: 1;
  }


}
.message_area {
  height: 105px;
  margin: 7px 0 30px;
  padding: 7px 15px 75px 15px;
  box-sizing: border-box;
  border: solid 1px $color-text-footer;
  width: 100%;
  @include overviewText() 

}
.container-button {
  @include tablet(){
    display:flex;
    justify-content: flex-end;
  }
}
.button {
  width: 100%;
  height: 45px;
  margin-bottom: 60px;
  padding: 11px 74px 12px 74px;
  border-radius: 4px;
  background-color: $color-adalabers-title;
  border-style: none;

  @include overviewText() {
    text-transform:uppercase;
    color: $color-basic;
    font-size: 16px;
    font-weight: 600;


  }
  @include tablet(){
    width: 206px;
    
    
  }
  @include desktop(){
    width: 278px;
  }
}
