/*HEADER*/
// .page {
//   width: 100%;
//   scroll-behavior: smooth;
// }
@mixin font() {
  font-family: $title;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  @content;
}

@mixin tablet() {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media all and (min-width: 1200px) {
    @content;
  }
}

.header {
  width: 100%;
  opacity: 0.95;
  position: fixed;
  z-index: 10;
}
.headboard {
  box-sizing: border-box;
  width: 100%;
  background-color: $color-header-dark;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  &__name {
    @include font() {
    }
    text-align: center;
    color: $color-nav-title;
    margin: 0 $margin-container-mobile;
    @include tablet() {
      width: 50%;
      text-align: start;
      margin-left: $margin-container-tablet;
    }
    @include desktop() {
      margin-left: $margin-container-desktop;
      padding-left: 4px;
    }
  }
  &__nav {
    width: 100%;
  }
  @include tablet() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 60px;
    margin: 0px;
  }
  @include desktop() {
    margin: 0px;
  }
}
.nav {
  &__list {
    @include font() {
      font-size: 15px;
      font-weight: 500;
      line-height: 2;
    }
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: $color-header-light;
    width: 100%;
    list-style-type: none;
    padding: 8px 17px 7px 16px;
    opacity: 0.9;
    @include tablet() {
      background-color: $color-header-dark;
      position: relative;
      justify-content: flex-end;
      padding: 16px 0px 14px;
    }
    &--menu {
      color: $color-nav-title;
      text-decoration: none;
    }
    &--who {
      @include tablet() {
        padding: 0 18px 0 19px;
      }
    }
    &--contact {
      @include tablet() {
        padding-right: $margin-container-tablet;
      }
      @include desktop() {
        padding-right: $margin-container-desktop;
      }
    }
  }
}
