@mixin font() {
  font-family: $title;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  @content;
}

@mixin tablet() {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media all and (min-width: 1200px) {
    @content;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 89px;
  margin-bottom: 45px;
  &__image {
    width: 100%;
  }
  &__slogan {
    background-color: $color-basic;
    @include font() {
      font-family: $text;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.39;
      text-align: center;
    }
    padding: 7px 15px 8px;
    position: absolute;
    bottom: 0%;
    transform: translateY(50%);
    @include tablet() {
      opacity: 0.8;
      padding: 15px 30px;
      position: absolute;
      bottom: 0%;
      left: 0%;
      transform: none;
      margin-left: $margin-container-tablet;
    }
    @include desktop() {
      margin-left: $margin-container-desktop;
    }
  }
  @include tablet() {
    padding-top: 60px;
  }
}
