@mixin tablet() {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media all and (min-width: 1200px) {
    @content;
  }
}

@mixin normalTitleText() {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

@mixin overviewTitle() {
  width: auto;
  font-family: $title;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: $color-header-dark;
  @include normalTitleText();
  @content;
}

@mixin overviewText() {
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: $color-strenghts-text;
  @include normalTitleText();
  @content;
}

.overview {
  background-color: rgba(184, 184, 185, 0.2);
  padding: 30px 0 45px 0;
  & .centralcolumn {
    @include tablet() {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0 45px 0;
    }
  }

  &__strenghts {
    @include tablet() {
      width: 50%;
      box-sizing: border-box;
      padding-right: 22.5px;
    }
    &--title {
      @include overviewTitle;
    }
    &--text {
      @include overviewText;
    }
  }

  &__weaknesses {
    @include tablet() {
      width: 50%;
      box-sizing: border-box;
      padding-left: 22.5px;
    }
    &--title {
      @include overviewTitle;
      margin-top: 30px;
      @include tablet() {
        margin-top: 0;
      }
    }
    &--text {
      @include overviewText;
    }
  }
}
