@import url("reset.css");

@font-face {
  font-family: "FontAwesome5BrandsRegular";
  src: url("../fonts/fa-brands-400.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2");
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/open-sans-v18-latin-600.woff2") format("woff2");
}

/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v11-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/rubik-v11-latin-500.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*NUESTRO CÓDIGO EN CSS*/

/*Hay que meter en variable los siguientes elementos; tamaño títulos, colores, font-family, letter-spacing, font-stretch, font-style, text-align. Revisad si me he dejado alguna*/

:root {
  /*Colores que aparecen en el header*/
  --title-nav-color: white;
  --background-colordark: #099d8d;
  --background-colorlight: #14d9c4;
}
/*HEADER*/
.page {
  margin: 0;
}
.container {
  display: flex;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  /*border: rgb(164, 120, 206) 2px solid;*/
  flex-direction: column;
  flex-wrap: wrap;
}
.headboard {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  background-color: var(--background-colordark);
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: black solid 4px;*/
}
.name {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--title-nav-color);
}
.navigation-menu {
  display: inline;
}
.list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  height: 45px;
  margin: 0px 0 0;
  padding: 8px 17px 7px 16px;
  opacity: 0.9;
  background-color: var(--background-colorlight);
  /*border: black solid 4px;*/
}
.menu {
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--title-nav-color);
}
.menu-1 {
  width: 56px;
  margin: 0 15px 0 0;
}
.menu-2 {
  width: 121px;
  margin: 0 15px;
}
.menu-3 {
  width: 80px;
  margin: 0 0 0 15px;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
}
.hero-image {
  box-sizing: border-box;
  background-image: url("fondo5blanco.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 316px;
  padding: 0 0 316px;
  /*border: black solid 4px;*/
}
.slogan {
  /*border: black 2px solid;*/
  height: 80px;
  width: fit-content;
  text-align: center;
  background-color: var(--title-nav-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  position: absolute;
  /*chapucilla para centrar el eslogan*/
  padding: 2px 50px 2px;
  left: 44.2%;
  top: 380px;
}
/*chapucilla para que se vea EQUIPO debajo del eslogan*/
.back {
  background-color: white;
  height: 40px;
  /*border: black solid 4px*/
}
.quienes-somos {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--background-colordark);
}

.adalabers {
  width: 320px;
  text-align: center;
}

.photo {
  width: 180px;
  height: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.paragraph {
  width: 290px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.g {
  font-family: "FontAwesome5BrandsRegular";
}

.links-contacto {
  display: flex;
  justify-content: space-between;
}

.footer-1 {
  width: 15%;
  height:20%;
  padding: 2%;
  border: solid 1px #b8b8b9;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: gold;*/
}

.footer-container {
  width: auto;
  height: 20px;
  margin: auto;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #b8b8b9;
  display: inline-block;
  /*background-color: darkblue;*/
  align-items: center;
  padding-bottom: 5%;
}

.footer-navigation-menu {
  margin: auto;
  display: flex;
  padding-bottom: 3%;
}

.footer-list {
  width: 100%;
  margin:auto;
  opacity: 0.75;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /*background-color: deeppink;*/
}

.footer-element {
  text-decoration: none;
  color: #54585a;
}

.footer-element-1 {
}

.footer-element-2 {
}

.footer-element-3 {
}

.footer-logo {
  width: 44%;
  height: 30%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-around;
  
}
