@import url("reset.css");

@font-face {
  font-family: "FontAwesome5BrandsRegular";
  src: url("../fonts/fa-brands-400.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2");
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/open-sans-v18-latin-600.woff2") format("woff2");
}

/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v11-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/rubik-v11-latin-500.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*NUESTRO CÓDIGO EN CSS*/

/*Hay que meter en variable los siguientes elementos; tamaño títulos, colores, font-family, letter-spacing, font-stretch, font-style, text-align. Revisad si me he dejado alguna*/

:root {
  /*Colores*/
  --title-nav-color: white;
  --background-colordark: #099d8d;
  --background-colorlight: #14d9c4;
  /*Fuentes*/
  --title: rubik;
  --text: OpenSans;
}
/*HEADER*/
.page {
  width: 320px;
}
.container {
  display: flex;
  font-family: var(--title);
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  /*border: rgb(164, 120, 206) 2px solid;*/
  flex-direction: column;
  flex-wrap: wrap;
}
.headboard {
  box-sizing: border-box;
  width: 100%;
  opacity: 0.95;
  background-color: var(--background-colordark);
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: black solid 4px;*/
}
.name {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--title-nav-color);
  margin: 15px 0;
}
.navigation-menu {
  width: 100%;
}
.list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  margin: 0px 0 0;
  padding: 8px 17px 7px 16px;
  opacity: 0.9;
  background-color: var(--background-colorlight);
  /*border: black solid 4px;*/
  justify-content: space-around;
}
.menu {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--title-nav-color);
}
.menu-color {
  color: var(--title-nav-color);
}
.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 362px;
  align-items: center;
}
.hero-image {
  box-sizing: border-box;
  width: 100%;
  /*border: black solid 4px;*/
}
.slogan {
  /*border: black 2px solid;*/
  text-align: center;
  background-color: var(--title-nav-color);
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  position: absolute;
  z-index: 1;
  padding: 7px 15px 8px;
  margin: auto;
  top: 314px;
}
/* EQUIPO */

.aboutus {
  display: flexbox;
  flex-direction: column;
  flex-wrap: wrap;
  height: 504px;
  padding: 30px 15px 45px;
  justify-content: center;
  align-items: center;
}
.equipo {
  box-sizing: border-box;
  height: 45px;
  margin: 0 99.5px 15px 101.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--background-colorlight);
}
.text1 {
  height: 384px;
  width: auto;
  margin: 15px 0 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.container-strengths {
  background-color: #b8b8b9;
}
.strengths {
  display: flexbox;
  flex-direction: column;
  width: 100%;
  height: 579px;
  box-sizing: border-box;
  padding: 30px 15px 45px;
  justify-content: center;
  align-items: center;
}

.strengthstitle {
  height: 45px;
  width: auto;
  font-family: var(--title);
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  justify-content: center;
  color: var(--background-colordark);
}
.weaknessestitle {
  height: 45px;
  width: auto;
  font-family: var(--title);
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--background-colordark);
}
.strengthstext {
  height: 192px;
  margin: 45px 0 30px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.weaknessestext {
  height: 192px;
  margin: 45px 0 30px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

/* SECTION ADALABERS. STYLES */
.section-adalabers {
  width: 320px;
  text-align: center;
}

.quienes-somos {
  font-family: var(--title);
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--background-colordark);
}

.adalabers {
  margin: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.quienessomos-name {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: black;
  margin-top: 15px;
}
.paragraph {
  width: 290px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin: 0 0 15px 0;
  text-align: center;
  color: #54585a;
}

.links-contacto {
  display: flex;
  justify-content: center;
  margin: 0 0 45px 0;
  width: 124px;
}

.fa {
  color: var(--background-colordark);
  font-size: 16px;
}
/* FOOTER STYLE */

.footer-1 {
  width: 100%;
  height: 20%;
  padding: 2%;
  border: solid 1px #b8b8b9;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: gold;*/
}

.footer-container {
  width: auto;
  height: 20px;
  margin: auto;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #b8b8b9;
  display: inline-block;
  /*background-color: darkblue;*/
  align-items: center;
  padding-bottom: 5%;
}

.footer-navigation-menu {
  margin: auto;
  display: flex;
  padding-bottom: 3%;
}

.footer-list {
  width: 100%;
  margin: auto;
  opacity: 0.75;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /*background-color: deeppink;*/
}

.footer-element {
  text-decoration: none;
  color: #54585a;
}
.footer-logo {
  width: 44%;
  height: 30%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
